nav{
position: absolute;
top: 90%;
left: 38.5%;
}
button{
  height: 40px;
  width: 100px;
}

.main-id {
  font-family: 'Ubuntu', sans-serif;
  max-width: 300px;
  margin-top: 25px;
  margin-left: 35%;
  text-align: center;
  padding: 20px;
  border-radius: 15px; /* Adjust the border radius as needed */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #6D107E 6px, transparent 6px) 0 0, 
              linear-gradient(to bottom, #6D107E 6px, transparent 6px) 100% 100%, 
              linear-gradient(to bottom, #6D107E 6px, transparent 6px) 100% 100%, 
              linear-gradient(to bottom, #6D107E 6px, transparent 6px) 0 100%;
              /*#F03358  Adjust colors as needed */
  background-size: 100% 6px, 6px 100%, 100% 6px, 6px 100%, 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}


/* Styles for smaller screens (e.g., mobile) */
@media screen and (max-width: 768px) {
  .main-id {
    margin: 0 auto; /* Center horizontally on smaller screens */
    margin-top: 25px; /* You can adjust the top margin as needed */
    text-align: center;
  }
}
.main-id img {
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.main-id h1 {
  font-size: 24px;
  margin-top: 10px;
}

.main-id .title {
  color: #555;
  font-size: 16px;
  margin-top: -5px;
}

.main-id p {
  font-size: 14px;
}

.main-id a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
  font-size: 24px;
}

.main-id button {
  background-color: #333;
  color: #fff;
  border: none;
  height: 50px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.main-id button:hover {
  background-color: #555;
}

/* Activity Bar Styles */
.activity-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.activity-status {
  flex-grow: 1;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
}

.active {
  background-color: #4CAF50; /* Green for Active */
  color: white;
}

.inactive {
  background-color: #F44336; /* Red for Inactive */
  color: white;
}

.deferred {
  background-color: #FFC107; /* Yellow for Deferred */
  color: white;
}

.id-string{
  height: 25px;
  width: 200px;
  background-color: blue;
  border-radius: 7px;

}