.v-card {
  height: 400px;
  width: 70%;
  background-color: #0351c1;
  position: absolute;
  left: 15%;
  top: 10%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* This line adds the box shadow */
}

.qr-card{
    height: 150px;
    background-color: #fff;
    width:60%;
    position:absolute;
    top: 5%;
    left:20%;
    border-radius: 10px;
    border: 1px solid #000;
}
.info-card{
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: 60%;
    left: 10%;
    width: 80%;
}
.name-card{
    position: absolute;
    top: 2%;
    left: 25%;
    height: 20px;
    width: 50%;
    background-color: #1771f1;
    border-radius: 30px;
    border: 1px solid #000;
}
.program-card{
    position: absolute;
    top: 50%;
    left: 10%;
    height: 20px;
    width: 35%;
    background-color: #1771f1;
    border-radius: 15px;
    font-size: 16px;
    border: 1px solid #000;

}
.c-card{
    position: absolute;
    top: 50%;
    height: 20px;
    width: 35%;
    background-color: #1771f1;
    left: 55%;
    border-radius: 15px;
    font-size: 16px;
    border: 1px solid #000;

}
.action-card{
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 80%;
    left: 10%;
    width: 80%;
    border: 1px solid #000;
}