body{
    background-color: #f5f5f5;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    height: 60px;
    font-size: 12px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #212529;
    font-size: 18px;
}
.main-btn-group{
    position: absolute;
    top: 0;
    left: 25%;
}
.auth-btn-group{
    position: absolute;
    top:0;
    left: 80%;
}
.btn-reg{
    height: 50px;
    width: 0px;
    background-color: grey;
}
.container{
    width: 100%;
    max-width: 1200px;
    height: 860px;
    margin-top: 60px;
    box-sizing: border-box;
}
.prod-text{
    width: 60%;
    height: 25%;
    position: absolute;
    top: 25%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
}
/* styles.css */
.prod-card {
    position: absolute;
    top: 60%;
    left: 32.5%;
    width: 35%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.avatar img {
    position: absolute;
    top: 30px;
    left: 37.5%;
    width: 25%;
    height: 20%;
    border-radius: 50%;
    background-color: grey;
}

.user-info {
    position: absolute;
}
.program{
    height: 35px;
    width: 85%;
    border-radius: 45px;
    background-color: blue;
    color: #fff;
}
.text{
    position: absolute;
    top: 32.5%;
    left: 2%;
    font-size: 8px;    
    text-align: center;
}

.activity-status {
    text-align: center;
}

.active {
    position: absolute;
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    top: 80%;
    left: 45%;
}




form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 50%;
}

input[type="email"], input[type="text"]{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #212529;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.prod-text h1{
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
}
.prod-text h2{
    font-size: 25px;
    text-align: center;
    font-weight: thin;
    color: grey;
    margin-top: 0px;
    position: absolute;
    top: 95%;
}